head {

}

body {
  color: red;
  font-size: 24px;
}
head {
  color: red;
  font-size: 24px;

}

body {
  color: red;
  font-size: 24px;
  color: red;
  font-size: 24px;
  color: red;
  font-size: 24px;
  color: red;
  font-size: 24px;
  color: red;
  font-size: 24px;
  color: red;
  font-size: 24px;
  color: red;
  font-size: 24px;
  color: red;
  font-size: 24px;
  color: red;
  font-size: 24px;
  color: red;
  font-size: 24px;
  color: red;
  font-size: 24px;
  color: red;
  font-size: 24px;
  color: red;
  font-size: 24px;

}
head {
  color: red;
  font-size: 24px;

}

body {

}
head {

}

body {

}
head {

}

body {

}
head {

}

body {

}